<!DOCTYPE html>

<head>
    <title>{{title}}</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <script type="text/javascript">
        alert("{{message}}")
    </script>

    {{title}} <br>

    {% if not flag %}
        Current User: {{username}} <a href="/logout">Logout</a> <br>
    {% endif %}

    <form role = "form" action = {{form_path}} method = "post">
        {% for x in form %}
            {% if x[3] %}
                {{x[0]}}:<input type = "text" name = "{{x[1]}}" required = "required"> <br>
            {% else %}
                {{x[0]}}:<input type = "text" name = "{{x[1]}}"> <br>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-default">submit</button>
    </form>
</body>

</html>