<!DOCTYPE html>

<head>
    <title>Ticket System 2020</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    Welcome to Ticket System ~ <br>
    Current User: {{username}} <a href="/logout">Logout</a> <br>
    <a href="/query_profile">Query Profile</a> <br>
    <a href="/add_user">Add User</a> <br>
    <a href="/modify_profile">Modify Profile</a> <br>
    <a href="/add_train">Add Train</a> <br>
    <a href="/release_train">Release Train</a> <br>
    <a href="/query_train">Query Train</a> <br>
    <a href="/delete_train">Delete Train</a> <br>
    <a href="/query_ticket">Query Ticket</a> <br>
    <a href="/query_transfer">Query Transfer</a> <br>
    <a href="/query_order">Query Order</a> <br>
    <a href="/refund_ticket">Refund Ticket</a> <br>
    <a href="/clean">Clean</a> <br>
</body>

</html>