<!DOCTYPE html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.yukisaki.io:2333/mdui/css/mdui.min.css">
    <script src="https://cdn.yukisaki.io:2333/mdui/js/mdui.min.js"></script>
</head>

<body class="mdui-appbar-with-toolbar mdui-drawer-body-left">
{% if message %}
    <script type="text/javascript">
        mdui.dialog({
        title: 'NOTE',
        content: '{{message}}',
        buttons: [
            {
            text: 'Get it!'
            }
        ]
        });
    </script>
{% endif %}

<div class="mdui-appbar mdui-appbar-fixed mdui-toolbar mdui-color-indigo">
    <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>
    <a href="/"><span class="mdui-typo-title">Ticket System 2020</span></a>
    <div class="mdui-toolbar-spacer"></div>
    <a href="/help.pdf" class="mdui-btn mdui-ripple mdui-btn-icon"><i class="mdui-icon material-icons">help</i></a>
    {% if not flag %}
        <a href="/user_profile" class="mdui-btn mdui-ripple mdui-btn-icon"><i class="mdui-icon material-icons">account_circle</i></a>
        {{username}}
        <a href="/logout"><button class="mdui-btn mdui-ripple mdui-color-purple">Logout</button></a>
    {% endif %}
</div>

<div class="mdui-drawer" id="main-drawer">
    {% if not flag %}
        <ul class="mdui-list" mdui-collapse="{accordion: true}">
            <a href="/">
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">dashboard</i>
                    <div class="mdui-list-item-content">Control Panel</div>
                </li>
            </a>
            <li class="mdui-collapse-item">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">account_box</i>
                    <div class="mdui-list-item-content">User Management</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a href="/query_profile"><li class="mdui-list-item mdui-ripple">Query Profile</li></a>
                    {% if privilege %}
                        <a href="/add_user"><li class="mdui-list-item mdui-ripple">Add User</li></a>
                    {% endif %}
                    <a href="/modify_profile"><li class="mdui-list-item mdui-ripple">Modify Profile</li></a>
                    {% if privilege %}
                        <a href="/list_user"><li class="mdui-list-item mdui-ripple">List User</li></a>
                    {% endif %}
                </ul>
            </li>
            <li class="mdui-collapse-item">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">train</i>
                    <div class="mdui-list-item-content">Train Schedule</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    {% if privilege %}
                        <a href="/add_train"><li class="mdui-list-item mdui-ripple">Add Train</li></a>
                        <a href="/release_train"><li class="mdui-list-item mdui-ripple">Release Train</li></a>
                    {% endif %}
                    <a href="/query_train"><li class="mdui-list-item mdui-ripple">Query Train</li></a>
                    {% if privilege %}
                        <a href="/delete_train"><li class="mdui-list-item mdui-ripple">Delete Train</li></a>
                        <a href="/list_train"><li class="mdui-list-item mdui-ripple">List Train</li></a>
                    {% endif %}
                </ul>
            </li>
            <li class="mdui-collapse-item">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">shopping_cart</i>
                    <div class="mdui-list-item-content">Buy Tickets</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a href="/query_ticket"><li class="mdui-list-item mdui-ripple">Query Ticket</li></a>
                    <a href="/query_transfer"><li class="mdui-list-item mdui-ripple">Query Transfer</li></a>
                    <a href="/buy_ticket"><li class="mdui-list-item mdui-ripple">Buy Ticket</li></a>
                    <a href="/query_order"><li class="mdui-list-item mdui-ripple">Query Order</li></a>
                    <a href="/refund_ticket"><li class="mdui-list-item mdui-ripple">Refund Ticket</li></a>
                </ul>
            </li>
            {% if privilege %}
                <li class="mdui-collapse-item">
                    <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">desktop_windows</i>
                        <div class="mdui-list-item-content">System Admin</div>
                        <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                    </div>
                    <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                        <a href="/clean"><li class="mdui-list-item mdui-ripple">Clear Data</li></a>
                        <a href="/shutdown"><li class="mdui-list-item mdui-ripple">Shutdown System</li></a>
                    </ul>
                </li>
            {% endif %}
        </ul>
    {% else %}
        <ul class="mdui-list" mdui-collapse="{accordion: true}">
            <a href="/login">
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">account_box</i>
                    <div class="mdui-list-item-content">Login</div>
                </li>
            </a>
            <a href="/register">
                <li class="mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">add_box</i>
                    <div class="mdui-list-item-content">Register</div>
                </li>
            </a>
        </ul>
    {% endif %}
</div>

<div class="mdui-container">
    <div class="mdui-typo">
        <div class="mdui-typo-headline mdui-text-color-indigo">{{title}}</div>
        <div class="mdui-typo-title mdui-text-color-black">
            {% if title == 'Train' %}
                Train ID: {{ret[0][0]}}<br>
                Train Type: {{ret[0][1]}}<br>
            {% endif %}
            {% if title == 'Ticket' or title == 'Transfer' %}
                Start Station: {{ret[0][0]}}<br>
                Target Station: {{ret[0][1]}}<br>
                Date: {{ret[0][2]}}<br>
            {% endif %}
            {% if title == 'Order' %}
                Current User: {{username}}<br>
            {% endif %}
        </div>
        <table class="mdui-table">
            <tr>
                {% for x in table_head %}
                    <td>{{x}}</td>
                {% endfor %}
            </tr>
            {% if title == 'User List' or title == 'Train List' %}
                {% for i in range(0, ret_len) %}
                    <tr>
                        {% for j in col_list %}
                            <td>
                                {{ret[i][j]}}
                            </td>
                        {% endfor %}
                    </tr>
                {%endfor%}
            {% elif title == 'Order' %}
                {% for i in range(0, ret_len) %}
                    <tr>
                        {% for j in col_list %}
                            <td>
                            {% if ret[i][j] == '[success]' %}
                                <div class="mdui-text-color-light-blue">[success]</div>
                            {% elif ret[i][j] == '[pending]' %}
                                <div class="mdui-text-color-amber">[pending]</div>
                            {% elif ret[i][j] == '[refunded]' %}
                                <div class="mdui-text-color-grey">[refunded]</div>
                            {% else %}
                                {{ret[i][j]}}
                            {% endif %}
                            </td>
                        {% endfor %}
                        {% if ret[i][0] != '[refunded]' %}
                            <td>
                                <button type="submit" class="mdui-btn mdui-ripple mdui-color-cyan-a700" form="refund_{{ i }}">Refund</button>
                            </td>
                        {% else %}
                            <td>
                                <button type="submit" class="mdui-btn mdui-btn-raised" form="refund_{{ i }}" disabled>Refund</button>
                            </td>
                        {% endif %}
                    </tr>
                {%endfor%}
                {% for i in range(0, ret_len) %}
                    <form name="refund_{{ i }}" action="refund_ticket" method="post" id="refund_{{ i }}">
                        <input type="hidden" name="num" value="{{i + 1}}">
                        <input type="hidden" name="flag" value = "1">
                    </form>
                {% endfor %}
            {% else %}
                {% for i in range(1, ret_len) %}
                    <tr>
                        {% for j in col_list %}
                            <td>{{ret[i][j]}}</td>
                        {% endfor %}
                        {% if title == 'Ticket' or title == 'Transfer' %}
                            <td>
                                <button type="submit" class="mdui-btn mdui-ripple mdui-color-cyan-a700" form="buy_{{ i }}">Buy</button>
                            </td>
                        {% endif %}
                    </tr>
                {%endfor%}
                {% if title == 'Ticket' or title == 'Transfer' %}
                    {% for i in range(1, ret_len) %}
                        <form name="buy_{{ i }}" action="buy_ticket2" method="post" id="buy_{{ i }}">
                            <input type="hidden" name="trainID" value="{{ret[i][0]}}">
                            <input type="hidden" name="day" value="{{ret[i][2]}}">
                            <input type="hidden" name="ffrom" value="{{ret[i][1]}}">
                            <input type="hidden" name="to" value="{{ret[i][5]}}">
                        </form>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </table>
    </div>
</div>
</body>

</html>